body{
    font-family: Arial, Helvetica, sans-serif;
    background: black url(../imagens/png-transparent-earth-euclidean-rocket-launch-material-rocket-launch-png-material-globe-computer-wallpaper-removebg-preview.png) no-repeat fixed center center;
    color: white;
}