.core{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Fira Code', monospace;
}

.button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.623);
    width: 200px;
    font-size: 1.2em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: rgb(156, 69, 238);
    transition: transform 200ms ease-in-out;
} 

.button:hover{
    background-color: rgb(168, 98, 235);
    text-decoration: none;
    transform: scale(1.05);
}

.button:active{
    background-color: rgb(132, 11, 245);
    transform: scale(0.95);
}

.caixa {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
    border: 3px solid black;
    box-shadow: 3px 3px 3px black;
    display: block;
    margin: auto;
    font-family: inherit;
    box-sizing: border-box;
    font-size: 1.2em;   
}