header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
    margin: auto;
    padding: 10px;
}
#container {
    position: relative;
    height: 96vh;

}

#conteudo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#texto2{
    position: absolute;
    left: 50%;
    top: -10%;
    transform: translate(-50%, -50%);
}
body{
    background: black url(Fotos/background-photo.jpg) no-repeat fixed center center;
    background-size: cover;
}
main{
    font-family: monospace;
    color: white;
    font-size: 2em;
    text-align: center;
}